---
const { buttonName, className } = Astro.props;
---

<button 
  class:list={["border-2 border-navy bg-white m-9 button-shadow", 
  "transition delay-150 hover:bg-navy",
  className]}
>
  <p class="hover:text-white">{buttonName}</p>
</button>
<style>
  .button-shadow {
    box-shadow: 10px 10px;
    color: #141E46;
  }
</style>