---
import Header from '../components/Header.astro'
import '@fontsource/montserrat-alternates';
---

<body>
	<Header />
	<main class="mx-16 my-20 text-navy">
		<h1 class="font-bold text-5xl flex justify-center items-center">Minh de rien</h1>
		<div class="px-72 pt-4 font-montserrat text-center">
			<p>
				Greetings! My name is Minh Ngoc Do. I am a Computer Engineering student currently 
				crafting her personalized blog. In addition to my technical pursuits, 
				I'm an enthusiast of the written words.
			</p>
			<p>
				Minh de rien will be my personal guide to leisure in and around the city of Montreal! 
				This website is designed to be a casual destination for individuals seeking enjoyable 
				activities that go beyond the typical tourist spots as well as recommendations for lovable 
				restaurants and cafes. The website aims to enhance your leisure experience by providing 
				informative articles, captivating visuals and insightful reviews.
			</p>
			<p>
				At its core, Minh de Rien is a reflection of my personal journey through Montreal. 
				It serves as a digital journal, a living history of my adventures and discoveries 
				in this dynamic city. Though ideally, it would also serve as a helping hand to fellow 
				enthusiasts and explorers.
			</p>
		</div>
		<hr class="w-48 h-1 mx-auto my-4 bg-navy border-0 rounded md:my-10">
	</main>
