---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Button from '../components/widgets/Button.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/global.css'
import '@fontsource/montserrat-alternates';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="md:mx-2xl m-3 grid grid-rows-2 justify-center items-center h-full w-full text-navy">
			<h1 class:list={["font-bold sm:text-5xl md:text-6xl lg:text-6xl xl:text-10xl",
				"flex justify-center items-center"]}
			>MINH DE RIEN
			</h1>
			<div class="flex justify-around py-12 px-48">
				<h2 class="font-montserrat text-navy text-5xl">
					An <span class="font-bettins">Intimate</span> Collection of Cherished Locations in Montreal
				</h2>
				<div class="pl-20">
					<!-- <div class=" bg-navy flex">|</div> -->
					<Button className="h-24 w-96 text-4xl" buttonName="EXPLORE" />
					<!-- <div class=" bg-navy">|</div> -->
				</div>
			</div>
		</main>
	</body>
</html>
<style>
	body {
		background-image: url('../../../public/background.png');
	}
</style>