---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Instagram from './icons/Instagram.astro';
import GitHub from './icons/Github.astro';
---

<header class="sticky top-0 z-40">
	<nav class="bg-white/80">
		<div class="border-b-2 border-navy">
			<div class="grid grid-cols-3 items-center m-3">
				<div class="flex justify-center items-center">
					<a href="https://www.instagram.com/mimimum.exe/" target="_blank" class="mx-2">
						<span class="sr-only">Follow Minh's Instagram</span>
						<Instagram />
					</a>
					<a href="https://github.com/minh-de-rien" target="_blank" class="mx-2">
						<span class="sr-only">Go to Minh's GitHub repo</span>
						<GitHub />
					</a>
				</div>
				<div></div>
				<div class="flex justify-center items-center">Search____________</div>
			</div>
		</div>
		<div class="border-b-2 border-navy">
			<div class="grid grid-cols-3 items-center m-3">
				<div class="flex justify-center items-center">
					<a href="/" class="mx-5"><span class="sr-only">Home</span>
						Home
					</a>
					<a href="/about" class="mx-5"><span class="sr-only">About</span>
						About
					</a>
				</div>
				<h1
					class="flex justify-center text-sm font-semibold text-gray-900 sm:text-xl"
				>
					LOGO
				</h1>
				<div class="flex justify-center">
					<a href="/" class="mx-5"><span class="sr-only">Dinning</span>
						Dinning
					</a>
					<a href="/" class="mx-5"><span class="sr-only">Activities</span>
						Activities
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>
